<div class="flex-container">
    <div class="mx-auto px-3 my-4 col-md-5 hamburger-container">
        <button mat-icon-button (click)="handleHamburgerClick()">
            <i class="fa fa-bars"></i>
        </button>
        <button mat-icon-button class="avatar">
            <img src="./assets/images/abhijit-kar.png" routerLink="" routerLinkActive class="avatar-image rounded mx-auto d-block">
        </button>
        <button mat-icon-button class="float-right" (click)="linkHandlerService.handleButtonClick(contact)">
            <i class="fa fa-envelope"></i>
        </button>
    </div>
    <mat-card class="mx-auto my-2 col-md-5 mat-elevation-z3">
        <mat-card-title>
            <h3 class="center mb-1">
                <a routerLink="" routerLinkActive>Abhijit Kar</a>
            </h3>
        </mat-card-title>
        <mat-progress-bar mode="indeterminate" *ngIf="loading; else showDivider"></mat-progress-bar>
        <ng-template #showDivider>
            <mat-divider></mat-divider>
        </ng-template>
        <!-- <mat-tab-group (selectedIndexChange)="handleTabSwitch($event)" [selectedIndex]="currentIndex">
            <mat-tab *ngFor="let route of routes; let i = index" [label]="route.label">
            </mat-tab>
        </mat-tab-group> -->
        <mat-card-actions class="goog-nav-bar-container">
            <nav mat-tab-nav-bar disableRipple class="goog-nav-bar-container">
                <div class="goog-nav-bar">
                    <a mat-tab-link matFocus="true" *ngFor="let route of routes" [routerLink]="route.url" routerLinkActive [active]="currentUrl === route.url"
                        (click)="currentUrl = route.url">
                        {{route.label | uppercase}}
                    </a>
                </div>
            </nav>
        </mat-card-actions>
    </mat-card>
</div>