span.s-30 {
  font-size: 25px;
  text-align: center;
}

.chat-button {
  position: fixed;
  right: 20%;
  bottom: 10%;
  background-color: var(--purple);
}

.fa-comment-o {
  position: absolute;
  right: 27%;
  top: 26%;
}

@media screen and (max-width: 768px) {
  .chat-button {
    right: 3%;
  }
}
