<div class="left-sidenav-header">
    <div class="overlay"></div>
    <img mat-card-avatar class="avatar float-above ml-2" src="./assets/images/abhijit-kar.png">
    <h3 class="float-above author ml-2 my-2">Abhijit Kar</h3>
</div>
<mat-nav-list>
    <mat-list-item>
        <span matLine>
            <span (click)="handleButtonClick(resume)">
                <span matListIcon class="gray fa fa-file-text s-20 w-30"></span>
                Resume
            </span>
        </span>
        <button mat-icon-button tabindex="-1">
            <span matListIcon class="gray fa fa-cloud-download s-30" (click)="handleButtonClick(resume, 'Download')">
            </span>
        </button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let address of addresses | async" (click)="handleButtonClick(address)">
        <span matListIcon class="gray fa s-30 w-30" [ngClass]="address.class" matLine></span>
        {{address.text}}
    </mat-list-item>
</mat-nav-list>
<mat-divider></mat-divider>
<div class="col-12 social-btns mt-2">
    <button mat-fab *ngFor="let socialNetwork of socialNetworks | async" (click)="handleButtonClick(socialNetwork)">
        <span class="fa s-30" [ngClass]="socialNetwork.class"></span>
    </button>
</div>