.clickable {
  cursor: pointer !important;
}

.author {
  padding-left: 10px;
}

span.s-20 {
  font-size: 20px !important;
  vertical-align: sub;
  text-align: center;
}
span.s-30 {
  font-size: 25px !important;
  text-align: center;
}
span.w-30 {
  width: 30px !important;
  vertical-align: baseline;
}

.fa.fa-envelope {
  font-size: 20px !important;
}

button,
button:focus,
button:hover {
  outline: none;
}

.social-btns {
  text-align: center;
}
.social-btns button {
  margin: 0 5px;
}