.clickable {
  cursor: pointer !important;
}

.avatar {
  top: 3.5em;
  width: 5em;
  height: 5em;
}

.author {
  color: white;
  top: 5.5em;
}

span.s-20 {
  font-size: 20px !important;
  vertical-align: sub;
  text-align: center;
}
span.s-30 {
  font-size: 25px !important;
  text-align: center;
}
span.w-30 {
  width: 30px !important;
  vertical-align: baseline;
}

.fa.fa-envelope {
  font-size: 20px !important;
}

button,
button:focus,
button:hover {
  outline: none;
}

.social-btns {
  text-align: center;
}
.social-btns button {
  margin: 0 5px;
}

.gray.fa {
  color: var(--gray);
}

.left-sidenav-header {
  background-image: url(../../assets/images/adventure-time.jpg);
  background-size: cover;
  height: 14em;
}

.overlay {
  position: absolute;
  z-index: 0;
  left: 0;
  right: 0;
  height: 14em;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.float-above {
  position: absolute;
  z-index: 1;
  left: 15px;
}

@media screen and (max-width: 520px) {
  .left-sidenav-header {
    height: 10em;
  }
  .avatar {
    top: 2.5em;
    width: 3em;
    height: 3em;
  }
  .author {
    top: 3.5em;
  }
  .overlay {
    height: 10em;
  }
}
