<mat-card class="mx-auto my-1 col-md-5 mat-elevation-z1">
    <mat-card-subtitle class="center">
        <span class="fa fa-quote-left"></span>
        <span class="tagline px-2">
            Technology aficionado, trying to help others achieve their potential!
        </span>
        <span class="fa fa-quote-right"></span>
    </mat-card-subtitle>
</mat-card>
<mat-card class="mx-auto my-1 col-md-5 mat-elevation-z1">
    <mat-card-title class="center">
        Summary
    </mat-card-title>
    <mat-card-content>
        <p>
            Professionally, I worked on VR, AR using Unity for a year & on Front End apps using Angular for another.
        </p>
        <br>
        <p>
            Personally, I am spanning out to several fields including but not limited to Machine Learning & Full Stack development.
        </p>
        <br>
        <p>
            I have indulged in several technologies over the last 4 months, like, Chat Bots, Google Cloud Platform, Firebase, Scikit
            Learn, Golang, Swagger, Restful API, Server-less computing and I don't plan on stopping here!
        </p>
        <br>
        <p>
            I would like to work with skilled and like minded people, use superior technologies, and finally, be part of something bigger
            than me.
        </p>
    </mat-card-content>
</mat-card>