<ng-container *ngFor="let skill of skills | async">
    <div class="mx-auto col-md-5">
        <div class="mx-auto mt-5 mb-2 custom-ink-bar"></div>
        <div class="center gray">{{skill.header}}</div>
    </div>
    <mat-card class="mx-auto my-2 col-md-5 mat-elevation-z3">
        <mat-nav-list>
            <mat-list-item *ngFor="let technology of skill.technologies; let i = index">
                <span class="px-2 green">{{technology.percentage | number:'2.0-0'}}%</span>
                <span (click)="linkHandlerService.handleButtonClick(technology)">{{technology.name}}
                </span>
                <button mat-icon-button class="pull-right" *ngIf="technology.git" tabindex="-1">
                    <span matListIcon class="fa fa-github s-20 pink" (click)="linkHandlerService.handleButtonClick(technology, link_types.GIT)">
                    </span>
                </button>
                <mat-divider *ngIf="i !== skill.technologies.length - 1"></mat-divider>
            </mat-list-item>
        </mat-nav-list>
    </mat-card>
</ng-container>