<div class="flex-container">
    <mat-card class="mx-auto my-5 col-md-5 col-11">
        <mat-card-title>
            <img mat-card-avatar src="./assets/abhijit-kar.png"> Abhijit Kar
        </mat-card-title>
        <mat-card-subtitle>Aspiring Full-Stack Developer, Budding Machine Learning Expert & Extensively Experienced, with a Fresher's Flair</mat-card-subtitle>
        <img mat-card-image src="./assets/images/adventure-time.jpg">
        <mat-card-content></mat-card-content>
        <mat-card-footer>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Skills
                </mat-expansion-panel-header>
                <mat-panel-description>
                    Skills I have acquired through Perseverance
                </mat-panel-description>
                <mat-list>
                    <mat-list-item>Angular</mat-list-item>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>Google Cloud Platforms</mat-list-item>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>Unity</mat-list-item>
                </mat-list>

            </mat-expansion-panel>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Projects
                </mat-expansion-panel-header>
                <mat-panel-description>
                    Application of my Skills
                </mat-panel-description>
                <mat-list>
                    <mat-list-item>Angular Scaffolding</mat-list-item>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>GraphQL</mat-list-item>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>RESTFul API</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-card-footer>
    </mat-card>
</div>