.clickable {
  cursor: pointer !important;
}

span.s-20, a.s-20 {
  font-size: 20px !important;
  vertical-align: sub;
}

span.s-30, a.s-30 {
  font-size: 25px !important;
  text-align: center;
}
span.w-30 {
  width: 30px !important;
  vertical-align: bottom;
}

.fa.fa-envelope {
  font-size: 25px !important;
}

button,
button:focus,
button:hover {
  outline: none;
}

.fa {
  color: #76f0af;
}

.fa-quote-left {
    color: #FFEB3B;
}

.tagline {
  color: cyan;
}

.social-btns {
  text-align: center;
}
.social-btns button .fa {
  color: #434142;
}
.social-btns button {
  margin: 0 5px;
}
