.clickable {
  cursor: pointer !important;
}

.author {
  padding-left: 10px;
}

span.s-20 {
  font-size: 20px !important;
  vertical-align: sub;
  text-align: center;
}
span.s-30 {
  font-size: 25px !important;
  text-align: center;
}
span.w-30 {
  width: 30px !important;
  vertical-align: baseline;
}

.fa.fa-envelope {
  font-size: 20px !important;
}

button,
button:focus,
button:hover {
  outline: none;
}

.social-btns {
  text-align: center;
}
.social-btns button {
  margin: 0 5px;
}
.goog-nav-bar-container {
  overflow: overlay;
  border: none !important;
}
.goog-nav-bar {
  height: 35px;
  width: 145%;
}

.mat-form-field-underline {
  display: none !important;
}

.mat-tab-link {
  height: 35px;
  padding: 0 20px;
  min-width: 0;
  text-decoration: none !important;
}
.mat-tab-label-active {
  color: var(--primary) !important;
}

.uppercase {
  text-transform: uppercase !important;
}

.center {
  text-align: center;
}

.mat-button-toggle-checked {
  color: var(--primary) !important;
  background-color: var(--light);
  border-bottom: 2px solid var(--primary) !important;
}

mat-card.header {
  padding-top: 5px;
  padding-bottom: 0;
  border-radius: 10px;
}

.header h3 {
  font-family: 'Satisfy', Cursive;
}
