.clickable {
  cursor: pointer !important;
}

.author {
  padding-left: 10px;
  color: cyan;
}

span.s-20 {
  font-size: 20px !important;
  vertical-align: sub;
}
span.s-30 {
  font-size: 25px !important;
  text-align: center;
}
span.w-30 {
  width: 30px !important;
  vertical-align: bottom;
}

.fa.fa-envelope {
  font-size: 25px !important;
}

button,
button:focus,
button:hover {
  outline: none;
}

.fa {
  color: #76f0af;
}

.fa-quote-left {
  color: #ffeb3b;
}

.tagline {
  color: #f6d781;
}

.mat-nav-list .mat-list-item {
  color: cyan;
}
.mat-nav-list .mat-subheader {
  color: #f6d781;
}
.mat-expansion-panel .mat-expansion-panel-header {
  color: #FFEB3B;
}

.social-btns {
  text-align: center;
}
.social-btns button .fa {
  color: #434142;
}
.social-btns button {
  margin: 0 5px;
}
