<div class="flex-container">
    <mat-card class="mx-auto my-5 col-md-5 col-11 mat-elevation-z8">
        <mat-card-title>
            <img mat-card-avatar src="./assets/images/abhijit-kar.png"> Abhijit Kar
        </mat-card-title>
        <mat-card-subtitle>
            <span class="fa fa-quote-left"></span>
            <span class="tagline">
                Aspiring Full-Stack Developer, Budding Machine Learning Expert & Extensively Experienced, with a Fresher's Flair
            </span>
        </mat-card-subtitle>
        <img mat-card-image src="./assets/images/adventure-time.jpg">
        <mat-card-content>
            <mat-nav-list>
                <mat-list-item *ngFor="let address of addresses | async">
                    <a matLine [href]="address.url" target="_blank">
                        <span matListIcon class="fa s-30 w-30" [ngClass]="address.class"></span>
                        {{address.text}}
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <div class="col-12 social-btns">
                <button mat-fab *ngFor="let socialIcon of socialIcons">
                    <span class="fa s-30" [ngClass]="socialIcon"></span>
                </button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <mat-divider></mat-divider>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Skills
                </mat-expansion-panel-header>
                <mat-nav-list *ngFor="let skill of skills | async">
                    <h3 matSubheader>{{skill.header}}</h3>
                    <mat-list-item *ngFor="let technology of skill.technologies">
                        <mat-progress-spinner color="primary" mode="determinate" [value]="technology.percentage" diameter="20">
                        </mat-progress-spinner>
                        <span class="px-2">{{technology.percentage}}%</span> {{technology.name}}
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Projects
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-divider [inset]="true"></mat-divider>
                    <h3 matSubheader>Recent</h3>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            Angular Scaffolding
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            GraphQL
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            RESTFul API
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-divider [inset]="true"></mat-divider>
                    <h3 matSubheader>Way Back</h3>
                    <mat-divider [inset]="true"></mat-divider>
                    <mat-list-item>
                        <a matLine>
                            Monster Shuffle
                        </a>
                        <button mat-icon-button>
                            <a matListIcon class="fa fa-github s-20" href="https://github.com/abhijit-kar" target="_blank">
                            </a>
                        </button>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-card-footer>
    </mat-card>
</div>