<div class="flex-container">
    <mat-card class="mx-auto my-5 col-md-5 col-11 mat-elevation-z8">
        <mat-card-title>
            <img mat-card-avatar src="./assets/images/abhijit-kar.png"> Abhijit Kar
        </mat-card-title>
        <mat-card-subtitle>
            <span class="fa fa-quote-left"></span>
            <span class="tagline">
                Aspiring Full-Stack Developer, Budding Machine Learning Expert & Extensively Experienced, with a Fresher's Flair
            </span>
        </mat-card-subtitle>
        <mat-card-content>
            <mat-nav-list>
                <mat-list-item>
                    <a matLine href="https://www.google.com/maps/?q=17.448490,78.358443" target="_blank">
                        <span matListIcon class="fa fa-map-marker s-30 w-30"></span>
                        Sweet Homes Gachibowli, Hyderabad Telangana, 500032
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine href="http://www.abhijit-kar.com" target="_blank">
                        <span matListIcon class="fa fa-home s-30 w-30"></span>
                        abhijit-kar.com
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine href="mailto:reachme@abhijit-kar.com">
                        <span matListIcon class="fa fa-envelope s-30 w-30"></span>
                        reachme@abhijit-kar.com
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine href="https://github.com/abhijit-kar" target="_blank">
                        <span matListIcon class="fa fa-github s-30 w-30"></span>
                        github.com/abhijit-kar
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine href="https://api.whatsapp.com/send?phone=918658610998" target="_blank">
                        <span matListIcon class="fa fa-whatsapp s-30 w-30"></span>
                        +91 (865) 861-0998
                    </a>
                </mat-list-item>
                <mat-list-item>
                    <a matLine href="tel:+918658610998" target="_blank">
                        <span matListIcon class="fa fa-phone s-30 w-30"></span>
                        +91 (865) 861-0998
                    </a>
                </mat-list-item>
            </mat-nav-list>
        </mat-card-content>
        <mat-card-actions>
            <div class="col-12 social-btns">
                <button mat-fab>
                    <span class="fa fa-twitter s-30"></span>
                </button>
                <button mat-fab>
                    <span class="fa fa-linkedin s-30"></span>
                </button>
            </div>
        </mat-card-actions>
        <mat-card-footer>
            <mat-divider></mat-divider>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Skills
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <mat-progress-spinner color="primary" mode="determinate" value="90" diameter="20">
                        </mat-progress-spinner>
                        <span class="px-2">90%</span> Angular
                    </mat-list-item>
                    <mat-list-item>
                        <mat-progress-spinner color="primary" mode="determinate" value="15" diameter="20">
                        </mat-progress-spinner>
                        <span class="px-2">15%</span> Google Cloud Platform
                    </mat-list-item>
                    <mat-list-item>
                        <mat-progress-spinner color="primary" mode="determinate" value="80" diameter="20">
                        </mat-progress-spinner>
                        <span class="px-2">80%</span> Unity
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
            <mat-divider></mat-divider>
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    Projects
                </mat-expansion-panel-header>
                <mat-nav-list>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            Angular Scaffolding
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            GraphQL
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            RESTFul API
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                    <mat-list-item>
                        <a matLine href="http://www.abhijit-kar.com" target="_blank">
                            Monster Shuffle
                        </a>
                        <button mat-icon-button>
                            <span class="fa fa-external-link s-20"></span>
                        </button>
                    </mat-list-item>
                </mat-nav-list>
            </mat-expansion-panel>
        </mat-card-footer>
    </mat-card>
</div>