<ng-container *ngFor="let project of projects | async">
    <div class="mx-auto col-md-5">
        <div class="mx-auto mt-5 mb-2 custom-ink-bar"></div>
        <div class="center gray">{{project.header}}</div>
    </div>
    <mat-card class="mx-auto my-2 col-md-5 mat-elevation-z3" *ngFor="let technology of project.technologies; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image"></div>
            <mat-card-title>{{technology.name}}</mat-card-title>
            <mat-card-subtitle>{{technology.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{technology.content}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button class="pink" mat-button tabindex="-1" (click)="linkHandlerService.handleButtonClick(technology)">
                Preview
            </button>
            <button class="pink" mat-button *ngIf="technology.git" tabindex="-1" (click)="linkHandlerService.handleButtonClick(technology, link_types.GIT)">
                GitHub
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>

<!-- <span matLine (click)="linkHandlerService.handleButtonClick(technology)"></span> -->