<ng-container *ngFor="let project of projects | async; let i = index">
    <div class="mx-auto col-md-5">
        <div class="mx-auto mt-4 mb-2 custom-ink-bar" style.backgroundColor="{{i | highlighter}}"></div>
        <div class="center gray">{{project.header}}</div>
    </div>
    <mat-card class="mx-auto my-2 col-md-5 mat-elevation-z1" *ngFor="let technology of project.technologies; let i = index">
        <mat-card-header>
            <div mat-card-avatar class="avatar-image mr-2" [style.backgroundImage]="'url('+ technology.image_url +')'"></div>
            <mat-card-subtitle>{{technology.year}} · {{technology.author}} · {{technology.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <h5>{{technology.name}}</h5>
            <p>{{technology.content}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button class="pink" mat-button tabindex="-1" (click)="linkHandlerService.handleButtonClick(technology)">
                Preview
            </button>
            <button class="pink" mat-button *ngIf="technology.git" tabindex="-1" (click)="linkHandlerService.handleButtonClick(technology, link_types.GIT)">
                GitHub
            </button>
        </mat-card-actions>
    </mat-card>
</ng-container>