mat-sidenav-container {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

mat-sidenav {
  width: 24em;
}

@media screen and (max-width: 520px) {
  mat-sidenav {
    width: 16em;
  }
}
