mat-sidenav-container {
  height: 42em;
}

mat-sidenav {
  width: 25em;
}

@media screen and (max-width: 520px) {
  mat-sidenav {
    width: 18em;
  }
  mat-sidenav-container {
    height: 37em;
  }
}
