mat-sidenav-container {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

mat-sidenav {
  overflow: hidden;
  width: 24em;
}

@media screen and (max-width: 768px) {
  mat-sidenav {
    width: 20em;
  }
}

@media screen and (max-width: 320px) {
  mat-sidenav {
    width: 16em;
  }
}
