/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

::-webkit-scrollbar-track,
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

.mat-progress-spinner circle {
  stroke: #ffeb3b !important;
}

mat-card {
  border-radius: 8px !important;
}

.rounded {
  border-radius: 50% !important;
}

.mat-ink-bar {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--blue) !important;
}

.center {
  text-align: center;
}

.gray {
  color: var(--gray);
}

.pink {
  color: var(--pink);
}

.custom-ink-bar {
  background-color: var(--blue);
  width: 84px;
  height: 2px;
}

.green {
  color: var(--green);
}

.mat-icon-button:focus {
  outline: none;
}
