/* @import "~@angular/material/prebuilt-themes/deeppurple-amber.css"; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

::-webkit-scrollbar-track,
::-webkit-scrollbar,
::-webkit-scrollbar-thumb {
  display: none;
}

.mat-progress-spinner circle {
  stroke: #ffeb3b !important;
}

mat-dialog-container {
  border-radius: 8px !important;
}

mat-card {
  border-radius: 8px !important;

  -webkit-box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.05),
    0 1px 1px 0 rgba(0, 0, 0, 0.05), 0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 0px 1px 1px rgba(0, 0, 0, 0.05), 0 1px 1px 0 rgba(0, 0, 0, 0.05),
    0 2px 5px 0 rgba(0, 0, 0, 0.1) !important;
}

.rounded {
  border-radius: 50% !important;
}

.mat-ink-bar,
.mat-input-underline {
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: var(--blue) !important;
}

.center {
  text-align: center;
}

.gray {
  color: var(--gray);
}

.white {
  color: var(--white);
}

.pink {
  color: var(--pink) !important;
}

.teal {
  color: var(--teal) !important;
}

.custom-ink-bar {
  background-color: var(--blue);
  width: 84px;
  height: 2px;
}

.green {
  color: var(--green);
}

.mat-icon-button:focus, .mat-mini-fab:focus {
  outline: none;
}
